* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #574643;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
#root {
  max-width: 1020px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}


/* Stile Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #000;
  border-radius: 20px;
}
.title-app img {
  padding: 20px;
  height: 90px;
}
.btn{
  border: 3px solid red;
  background: none;
  padding: 10px 20px;
  font-size: 18px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.input-search {
  margin-right: 8px;
  height: 30px;
  border-radius: 8px;
  background: red;
  color: #000;
  border: 1px solid #000;
}
.input-search:focus , .btn:focus {
  outline: none;
}
/* Stile struttura */
.container {
  max-width: 1020px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
}
/* Stile Film Card */
.film-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 25%;
  margin: 10px;
  height: 100%;
  background-color: #000;
  border-radius: 15px;
  cursor: pointer;
}
.film-cover {
  max-width: 370px;
  max-height: 300px;
}
.info-film {
  display: none;
  color: #fff;
  height: 300px;
  width: 100%;
  margin: auto;
  font-size: 12px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 11%, rgba(150,0,16,1) 80%);
  padding: 20px;
  border-radius: 15px;
}
.title {
  font-weight: bold;
  padding: 10px;
}
.film-card:hover .film-cover {
 display: none;
}

.film-card:hover .info-film {
 display: block;
}
.language {
  display: block;
  padding: 5px;
}
.overview {
  height: 100px;
  overflow: auto;
  padding: 10px;
}
.overview::-webkit-scrollbar {
  width: 11px;
}
