<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- /Responsive -->
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Recursive:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- /Google Font -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /FontAwesome -->
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
    <!-- /Axios -->
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /VueJs -->
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /CSS -->
    <title>Boolflix</title>
  </head>
  <body>

   <div id="root">
      <!-- Header section -->
    <header>
      <!-- Logo -->
      <div class="title-app">
        <img src="img/boolflix-lg.png" alt="Logo">
      </div>
     <!-- /Logo -->
     <!-- Search Section -->
      <div class="search-films">
        <input class="input-search" type="text" placeholder="search movie or tv-series..." value="" v-model="search" @keydown.13="searchFromApi">
        <button class="btn" type="button" name="button" @click="searchFromApi">Search</button>
      </div>
    <!-- /Search Section -->
   </header>
    <!-- /Header section -->
   <main>
     <!-- Starter Main -->
     <div class="start" v-if="movies.length == 0 && series.length == 0">
       <h1 class="title-base">Benvenuto su Boolflix, inizia cercando Film o SerieTv</h1>
       <img  src="img/netflix-background.jpg" alt="">
     </div>
    <!-- /Starter Main -->
    <!-- Container movies -->
    <h2 class="title-section" v-if="movies.length > 0">Movies</h2>
      <div v-dragscroll class="container">
        <!-- Movie Card -->
        <div class="card" v-for="movie in movies" v-if="movie.poster_path !== null">
          <div class="card-inner">
            <!-- Img Cover -->
           <img :src="'https://image.tmdb.org/t/p/w300' + movie.poster_path" alt="Movie img" class="cover">
            <!-- /Img Cover -->
            <!-- Info Movie -->
           <div class="info">
             <h3 class="title">Titolo: {{ movie.title }}</h3>
             <h4>Titolo Originale: {{ movie.original_title }}</h4>
            <!-- Movie Original Language -->
            <div class="language">
              <span>Lingua Originale
                <img :src="'flags/' + movie.original_language + '.png'">
              </span>
             </div>
            <!-- /Movie Original Language -->
            <!-- Movie Rating -->
           <div class="rating">
            <span>Rated:
             <i v-for="index in movie.vote_average" class="star fas fa-star"></i>
             <i v-for="index in (5 - movie.vote_average)" class="star far fa-star"></i>
            </span>
           </div>
           <!-- /Movie Rating -->
           <!-- Realease Date -->
           <div class="release-date">
             <span>Release: {{ movie.release_date }}</span>
           </div>
           <!-- /Realease Date -->
           <!-- Overview -->
           <h4 class="title-prev" v-if="movie.overview.length > 0">Overview</h4>
           <div class="overview" >
            <p>{{ movie.overview }}</p>
           </div>
           <!-- /Overview -->
          </div>
       <!-- /Info Movie -->
         </div>
       </div>
      <!-- /Movie Card -->
      </div>
    <!-- /Container movies -->
    <!-- Container series -->
    <h2 class="title-section" v-if="series.length > 0">Tv Series</h2>
      <div v-dragscroll class="container">
       <!-- Series Card -->
        <div class="card" v-for="serie in series" v-if="serie.poster_path !== null">
         <!-- Card Inner -->
          <div class="card-inner">
          <!-- Img Cover -->
           <img :src="'https://image.tmdb.org/t/p/w300' + serie.poster_path" alt="Serie img" class="cover">
          <!-- /Img Cover -->
          <!-- Info Series -->
          <div class="info">
           <h3 class="title">Titolo: {{ serie.name }}</h3>
           <h4>Titolo Originale: {{ serie.original_name }}</h4>
           <!-- Series Original Language -->
           <div class="language">
             <span>Lingua Originale:
             <img :src="'flags/' + serie.original_language + '.png'">
             </span>
           </div>
           <!-- /Series Original Language -->
           <!-- Series Rating -->
           <div class="">
             <span class="rating"> voto:
               <i v-for="index in serie.vote_average" class="star fas fa-star"></i>
               <i v-for="index in (5 - serie.vote_average)" class="star far fa-star"></i>
             </span>
           </div>
           <!-- /Series Rating -->
           <!-- Release Date -->
           <div class="release-date">
            <span>First Air Date: {{ serie.first_air_date }}</span>
           </div>
           <!-- /Release Date -->
           <!-- Overview -->
           <h4 class="title-prev" v-if="serie.overview.length > 0">Overview</h4>
           <div class="overview">
            <p>{{ serie.overview }}</p>
           </div>
           <!-- /Overview -->
         </div>
      <!-- /Info Serie -->
        </div>
      <!-- /Card Inner -->
       </div>
     <!-- /Series Card -->
      </div>
    <!-- /Container series -->

    <!-- Container movies Popular -->
    <h2 class="title-section" v-if="mostRatedMovies.length > 0">Most Rated Movies</h2>
      <div v-dragscroll class="container">
        <!-- Movie Card -->
        <div class="card" v-for="movie in mostRatedMovies" v-if="movie.poster_path !== null">
          <div class="card-inner">
            <!-- Img Cover -->
           <img :src="'https://image.tmdb.org/t/p/w300' + movie.poster_path" alt="Movie img" class="cover">
            <!-- /Img Cover -->
            <!-- Info Movie -->
           <div class="info">
             <h3 class="title">Titolo: {{ movie.title }}</h3>
             <h4>Titolo Originale: {{ movie.original_title }}</h4>
            <!-- Movie Original Language -->
            <div class="language">
              <span>Lingua Originale
                <img :src="'flags/' + movie.original_language + '.png'">
              </span>
             </div>
            <!-- /Movie Original Language -->
            <!-- Movie Rating -->
           <div class="rating">
            <span>Rated:
             <i v-for="index in movie.vote_average" class="star fas fa-star"></i>
             <i v-for="index in (5 - movie.vote_average)" class="star far fa-star"></i>
            </span>
           </div>
           <!-- /Movie Rating -->
           <!-- Realease Date -->
           <div class="release-date">
             <span>Release: {{ movie.release_date }}</span>
           </div>
           <!-- /Realease Date -->
           <!-- Overview -->
           <h4 class="title-prev" v-if="movie.overview.length > 0">Overview</h4>
           <div class="overview" >
            <p>{{ movie.overview }}</p>
           </div>
           <!-- /Overview -->
          </div>
       <!-- /Info Movie -->
         </div>
       </div>
      <!-- /Movie Card -->
      </div>
    <!-- /Container movies Popular-->

    <!-- Container series Popular -->
    <h2 class="title-section" v-if="mostRatedTvSeries.length > 0">Most Rated Tv Series</h2>
      <div v-dragscroll class="container">
       <!-- Series Card -->
        <div class="card" v-for="serie in mostRatedTvSeries" v-if="serie.poster_path !== null">
         <!-- Card Inner -->
          <div class="card-inner">
          <!-- Img Cover -->
           <img :src="'https://image.tmdb.org/t/p/w300' + serie.poster_path" alt="Serie img" class="cover">
          <!-- /Img Cover -->
          <!-- Info Series -->
          <div class="info">
           <h3 class="title">Titolo: {{ serie.name }}</h3>
           <h4>Titolo Originale: {{ serie.original_name }}</h4>
           <!-- Series Original Language -->
           <div class="language">
             <span>Lingua Originale:
             <img :src="'flags/' + serie.original_language + '.png'">
             </span>
           </div>
           <!-- /Series Original Language -->
           <!-- Series Rating -->
           <div class="">
             <span class="rating"> voto:
               <i v-for="index in serie.vote_average" class="star fas fa-star"></i>
               <i v-for="index in (5 - serie.vote_average)" class="star far fa-star"></i>
             </span>
           </div>
           <!-- /Series Rating -->
           <!-- Release Date -->
           <div class="release-date">
            <span>First Air Date: {{ serie.first_air_date }}</span>
           </div>
           <!-- /Release Date -->
           <!-- Overview -->
           <h4 class="title-prev" v-if="serie.overview.length > 0">Overview</h4>
           <div class="overview">
            <p>{{ serie.overview }}</p>
           </div>
           <!-- /Overview -->
         </div>
      <!-- /Info Serie -->
        </div>
      <!-- /Card Inner -->
       </div>
     <!-- /Series Card -->
      </div>
    <!-- /Container series Popular-->

   </main>

  </div>
  <!-- Library Vue Dragscroll -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-dragscroll"></script>
  <!-- /Library Vue Dragscroll -->
  <!-- File Js -->
  <script src="js/script.js" charset="utf-8"></script>
   <!-- /File Js -->

  </body>
</html>
